<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
  </body>
</html>
#* a GET request to `/` typically renders a file called `index.erb`
#* by convention, our file names will match up with the action that renders them.
#! Views represent how things look and are displayed in our application.